body {
  background: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

.todo-container {
  background: #fff;
  padding: 2rem;
  margin: 4rem auto;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  color: #222831;
  text-align: center;
}

.input-group {
  display: flex;
  margin-bottom: 1.25rem;
}

#task-input {
  flex: 1;
  padding: 0.6rem;
  border: 1px solid whitesmoke;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

#add-task-btn {
  padding: 0.6rem 1.2rem;
  background: skyblue;
  color: rgb(254, 254, 254);
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

#add-task-btn:hover {
  background: rgb(75, 52, 52);
}

#task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.4rem;
  border-bottom: 1px solid rgb(171, 167, 167);
}

.task-item.completed span {
  text-decoration: line-through;
  color: rgb(248, 244, 244);
}

.task-item span {
  flex: 1;
  cursor: pointer;
  transition: color 0.2s;
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  font-size: 1.3rem;
  cursor: pointer;
  margin-left: 1rem;
  transition: color 0.2s;
}

.remove-btn:hover {
  color: red;
}
